<div id="module-rnet" class="tab-content">
	<h3 class="title is-4">RNet Stats</h3>

	{{>moduleheader}}

	<div class="settings-top">
		{{>moduletoggle}}
	</div>

	<div class="module-toggles">
		{{! Toggles }}
		<p class="control setting-toggle is-pulled-left">
			<input id="statsEnabled" class="module-setting-checkbox" type="checkbox" data-module="rnet" name="statsEnabled" value="{{@root.server.rnet.statsEnabled}}"{{#if @root.server.rnet.statsEnabled}} checked="checked"{{/if}}>
			<label class="checkbox" for="statsEnabled">
				Enable Stats
			</label>
		</p>

		<p class="control setting-toggle is-pulled-left">
			<input id="logEnabled" class="module-setting-checkbox" type="checkbox" data-module="rnet" name="logEnabled" value="{{@root.server.rnet.logEnabled}}"{{#if @root.server.rnet.logEnabled}} checked="checked"{{/if}}>
			<label class="checkbox" for="logEnabled">
				Enable Logging
			</label>
		</p>

		<p class="control setting-toggle is-pulled-left">
			<input id="dmEnabled" class="module-setting-checkbox" type="checkbox" data-module="rnet" name="dmEnabled" value="{{@root.server.rnet.dmEnabled}}"{{#if @root.server.rnet.dmEnabled}} checked="checked"{{/if}}>
			<label class="checkbox" for="dmEnabled">
				Enable DM Logging
			</label>
		</p>

		<p class="control setting-toggle is-pulled-left">
			<input id="carbonEnabled" class="module-setting-checkbox" type="checkbox" data-module="rnet" name="carbonEnabled" value="{{@root.server.rnet.carbonEnabled}}"{{#if @root.server.rnet.carbonEnabled}} checked="checked"{{/if}}>
			<label class="checkbox" for="carbonEnabled">
				Enable Botlist
			</label>
		</p>

		<p class="control setting-toggle is-pulled-left">
			<input id="automodEnabled" class="module-setting-checkbox" type="checkbox" data-module="rnet" name="automodEnabled" value="{{@root.server.rnet.automodEnabled}}"{{#if @root.server.rnet.automodEnabled}} checked="checked"{{/if}}>
			<label class="checkbox" for="automodEnabled">
				Enable Automod
			</label>
		</p>
	</div>

	<div class="settings-content">
		{{! Stats channel }}
		<label class="label">Stats Channel</label>
		<p class="control">
			<span class="select">
				<select class="setting-dropdown" name="channel" data-module="rnet">
					<option>Select Channel</option>
					{{#each @root.channels}}
						<option value="{{this.id}}"{{#compare this.id @root.server.rnet.channel}}selected="selected"{{/compare}}>#{{this.name}}</option>
					{{/each}}
				</select>
			</span>
		</p>

		{{! Log channel }}
		<label class="label">Log Channel</label>
		<p class="control">
			<span class="select">
				<select class="setting-dropdown" name="logChannel" data-module="rnet">
					<option>Select Channel</option>
					{{#each @root.channels}}
						<option value="{{this.id}}"{{#compare this.id @root.server.rnet.logChannel}}selected="selected"{{/compare}}>#{{this.name}}</option>
					{{/each}}
				</select>
			</span>
		</p>

		{{! Large guild channel }}
		<label class="label">Large Guild Channel</label>
		<p class="control">
			<span class="select">
				<select class="setting-dropdown" name="lgChannel" data-module="rnet">
					<option>Select Channel</option>
					{{#each @root.channels}}
						<option value="{{this.id}}"{{#compare this.id @root.server.rnet.lgChannel}}selected="selected"{{/compare}}>#{{this.name}}</option>
					{{/each}}
				</select>
			</span>
		</p>

		{{! DM Log channel }}
		<label class="label">DM Log Channel</label>
		<p class="control">
			<span class="select">
				<select class="setting-dropdown" name="dmChannel" data-module="rnet">
					<option>Select Channel</option>
					{{#each @root.channels}}
						<option value="{{this.id}}"{{#compare this.id @root.server.rnet.dmChannel}}selected="selected"{{/compare}}>#{{this.name}}</option>
					{{/each}}
				</select>
			</span>
		</p>

		{{! Carbon channel }}
		<label class="label">Carbon Channel</label>
		<p class="control">
			<span class="select">
				<select class="setting-dropdown" name="carbonChannel" data-module="rnet">
					<option>Select Channel</option>
					{{#each @root.channels}}
						<option value="{{this.id}}"{{#compare this.id @root.server.rnet.carbonChannel}}selected="selected"{{/compare}}>#{{this.name}}</option>
					{{/each}}
				</select>
			</span>
		</p>

		{{! Automod channel }}
		<label class="label">Automod Channel</label>
		<p class="control">
			<span class="select">
				<select class="setting-dropdown" name="automodChannel" data-module="rnet">
					<option>Select Channel</option>
					{{#each @root.channels}}
						<option value="{{this.id}}"{{#compare this.id @root.server.rnet.automodChannel}}selected="selected"{{/compare}}>#{{this.name}}</option>
					{{/each}}
				</select>
			</span>
		</p>
	</div>

</div>